---
---

@import "{{ site.theme }}";

#header {
  margin-top: 0px;

  nav {
	display: block;

    li {
      &.left {
        float: left;
        margin-right: 6px;
      }

      &.right {
        float: right;
        margin-left: 6px;
      }
    }
  }
}

hr {
  margin: 0 0 0px;
}

